<aside class="menu col-sm-12 col-md-3">

    <h2 class="text-center">About Me</h2>
    <div class="text-center">
        <img src="/Assets/images/myPic.png" alt="Brennan's Face" height="250" width="250">
    </div>
    <p class="mt-4">Hi, I'm Gagandeep Singh. I'm a 26-year-old Mean Stack Web developer and blogger from India
        and currently residing in Toronto, Ontario. My current focuses are finding ways to use different
        technologies to address some complex problems and create long-lasting community!</p>


    <h2 class="mt-4 text-center">Contact Me</h2>
    <p class="mb-5">Interested in having a chat? Feel free to shoot me a DM anytime on
        <a href="https://www.linkedin.com/in/gagandeep-singh-08/">LinkedIn.</a> I'm also always updating project on
        <a href="https://github.com/gsin1653/Assignment2_Portfolio">GitHub</a> if you wanna follow me there! <br>
        <small>For business inquries, please feel free to
            send me an e-mail at <mark><a class=""
                    href="mailto:er.gagandeep.singh08@gmail.com">er.gagandeep.singh08@gmail.com</a></mark></small>
    </p>
</aside>
</div>