<!-- Bottom Nav -->
  <footer>
    <nav class="footer fixed-bottom navbar navbar-dark bg-dark">
      <h6 class="display-6 navbar-text">&copy; Copyright 2021. All Rights reserved.</h6>
      <a class="navbar-brand" href="/">
        <img class="d-inline-block mx-2" src="/Assets/images/logo.png" alt width="50" height="25">
      </a>
    </nav>
  </footer>